html
{

    background: url("../Media/background.png")  no-repeat center center fixed !important;
    background-size: cover !important;

}
.backScreen
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F2E43;
    opacity: 90%;
    width: 1200px;
    height: 450px;
    display: flex;
}
.infoInputScreen
{
    display: flex;
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 550px;

}

.backScreen p
{
    color: white;
}
.backScreen .left
{

    width: 600px;
}

.backScreen .right
{
    width: 600px;
}
.backScreen .box
{
    margin: 100px;
}
hr
{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: 10%;
    border-top: 2px solid #48ABFE !important;
}
.headtitle p
{
    font-size: xx-large;
}
.headtext
{
    margin-bottom: 30px;
    line-height: 25px;
}
.backscreenButton {
    background-color:#1F2E43;
    border-radius:28px;
    border:1px solid #48ABFE;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:13px 38px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.backscreenButton:hover {
    background-color:#48ABFE;
}
.backscreenButton:active {
    position:relative;
    top:1px;
}

.frontScreenButton {

    margin-top: 10px;
    margin-left:100px;
    margin-right: 100px;
    background-color:#F79B34;
    border-radius:28px;
    border:1px solid #F79B34;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:13px 38px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.frontScreenButton:hover {
    background-color:#F7BF36;
    border:1px solid #F7BF36;
}
.frontScreenButton:active {
    position:relative;
    top:1px;
}
.sign_up
{
    background-color: white;
    height: 500px;
    width: 550px;

}
.loggedOn
{
    background-color: white;

}
.loggedOn p
{
    color: black;
}
.loggedOn .frontScreenButton
{
    margin-right: 20px;
    margin-left: 20px;
}
.login
{

    background-color: white;
    height: 500px;
    width: 550px;
}

.infoInputScreen hr
{
    margin-left: 100px;
}
.front-line-text
{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content:space-between;
}
.line-front-first
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    display: flex;
    justify-content:space-between;
}
.line-front-first p
{
    font-size: xx-large;
}
.asterik
{
    color: red;
}
.line-signup
{
    color: grey;
}
.input
{
    margin-top: 4px;
    margin-left:100px;
    margin-right: 100px;


}
input
{
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px)
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px)
{
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px)
{
    .infoInputScreen
    {
        margin-left: 150px !important;
        margin-top:220px;
    }

    .backScreen
    {
        width: 400px !important;
        height: 800px;
        flex-direction: column;

    }
    .backScreen .box
    {
        margin: 20px 20px 70px 20px;
    }
    .headtext p
    {
        word-wrap: break-word;
    }
    .left
    {

        width: 380px !important;

    }
    .right
    {
        width: 380px !important;
    }
    .infoInputScreen .login
    {
        margin-left: 50px !important;
        width: 300px;
        height: 350px;
    }
    .infoInputScreen .sign_up
    {
        margin-left: 50px !important;
        width: 300px;
        height: 450px;
    }
    .front-line-text
    {
        margin-left:30px;
        margin-top: 10px !important;
    }
    .infoInputScreen hr
    {
        margin-left: 30px;
    }
    .input
    {
        margin-left:30px !important;
        margin-right:30px ;
    }
    .line-front-first
    {
        margin-left:30px;
        margin-right:30px ;
    }
    .front-line-text
    {
        margin-left:30px;
        margin-right:30px ;
    }
    .headtitle
    {
        text-align: center;
    }
    .backScreen  hr
    {
        margin-left: 150px;
        margin-right: 20px;
    }
    .box
    {
        text-align: center;
    }
    .right .headtitle
    {
        margin-top: 100px;
    }
    #cool
    {
        margin-top: 0;
    }
}
@media only screen and (max-width: 1200px)
{
    .infoInputScreen
    {

    }
    .backScreen
    {

        width: 992px;
    }


}


